[Unit]
Description=BodyWeight Telegram Bot
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/home/BodyWeight/backend
Environment="PATH=/home/BodyWeight/backend/venv/bin"
ExecStart=/home/BodyWeight/backend/venv/bin/python -m app.bot.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
